Part 9/CarService/CarClient/Connected Services/CarService/CarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://in1clickdomain.com" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CarService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CarInfo">
    <wsdl:part xmlns:q1="http://in1clickdomain.com" name="parameters" element="q1:CarInfoWrapper" />
  </wsdl:message>
  <wsdl:message name="ICarService_SetCar_OutputMessage" />
  <wsdl:message name="CarRequest">
    <wsdl:part xmlns:q2="http://in1clickdomain.com" name="parameters" element="q2:CarRequest" />
  </wsdl:message>
  <wsdl:message name="CarRequest_Headers">
    <wsdl:part xmlns:q3="http://in1clickdomain.com" name="LicenseKey" element="q3:LicenseKey" />
  </wsdl:message>
  <wsdl:portType name="ICarService">
    <wsdl:operation name="SetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/SetCar" name="CarInfo" message="tns:CarInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/SetCarResponse" message="tns:ICarService_SetCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICarService/GetCar" name="CarRequest" message="tns:CarRequest" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICarService/GetCarResponse" name="CarInfo" message="tns:CarInfo" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICarService" type="tns:ICarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/SetCar" style="document" />
      <wsdl:input name="CarInfo">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCar">
      <soap:operation soapAction="http://tempuri.org/ICarService/GetCar" style="document" />
      <wsdl:input name="CarRequest">
        <soap:header message="tns:CarRequest_Headers" part="LicenseKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CarInfo">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="BasicHttpBinding_ICarService" binding="tns:BasicHttpBinding_ICarService">
      <soap:address location="http://localhost:8080/CarService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>