Part 9/CarService/CarClient/Connected Services/CarService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CarService" />
  <xs:element name="Capacity" type="xs:double" />
  <xs:element name="Id" type="xs:int" />
  <xs:element name="Model" nillable="true" type="xs:string" />
  <xs:element name="Passengers" type="xs:int" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarService" name="Type" type="q1:CarType" />
  <xs:element name="Vendor" nillable="true" type="xs:string" />
  <xs:element name="Year" type="xs:int" />
</xs:schema>